.container {
  background-color: var(--yellow);
  height: 55px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

p {
  margin: 0;
}

button {
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 7px;
  max-height: 40px;
  margin: 2px;
  box-shadow: -5px 2px 5px rgba(0, 0, 0, 0.645);
}

.play-btn {
  background-color: var(--green);
  color: white;
}

.my-wordles-btn {
  background-color: var(--orange);
  color: black;
}

.find-user-btn {
  background-color: var(--red);
  color: white;
}

.profile-btn {
  background-color: var(--blue);
  color: white;
}
