<div class="container1">
  <div class="inner">
    <img
      class="x-mark"
      src="../../../assets/icons/x-mark.png"
      alt="close modal"
      (click)="handleClose()"
    />
    <div class="tile-blink-box">
      <p>active tile flash</p>
      <div class="tile-blink-inner">
        <div>
          <input
            type="radio"
            name="disable-blink"
            value="false"
            [value]="false"
            [(ngModel)]="flashOff"
          />
          <label for="disable-blink">on</label>
        </div>
        <div>
          <input
            type="radio"
            name="disable-blink"
            value="true"
            [(ngModel)]="flashOff"
          />
          <label for="disable-blink">off</label>
        </div>
      </div>
    </div>
    <hr />
    <div class="tile-blink-box">
      <p>sound effects</p>
      <div class="tile-blink-inner">
        <div>
          <input
            type="radio"
            name="disable-sound"
            value="false"
            checked="checked"
            [(ngModel)]="soundOff"
            [value]="false"
          />
          <label for="disable-sound">on</label>
        </div>
        <div>
          <input
            type="radio"
            name="disable-sound"
            value="true"
            [(ngModel)]="soundOff"
          />
          <label for="disable-sound">off</label>
        </div>
      </div>
    </div>
    <hr />
    <button class="btn" (click)="changeGameColorsEmitter.emit()">
      randomize board color
    </button>
    <hr />
    <button class="btn" (click)="handleQuit()">give up</button>
  </div>
</div>
