<app-how-to-play-modal
  (emitter)="closeModal()"
  *ngIf="showHelpModal"
></app-how-to-play-modal>
<app-play-settings
  *ngIf="showSettings"
  (closeModalEmitter)="closeSettings()"
  (changeGameColorsEmitter)="changeGameBoardColorsEmitter.emit()"
  (quitEmitter)="handleQuit()"
></app-play-settings>
<div class="container1">
  <p *ngIf="seconds">time: {{ seconds }}s</p>
  <div class="options br" (click)="showSettings = true">settings</div>
  <div class="options" (click)="showHelpModal = true">help</div>
  <!-- <button (click)="test()">test</button> -->
</div>
