<app-how-to-play-modal
  (emitter)="closeModal()"
  *ngIf="showHelpModal"
></app-how-to-play-modal>
<app-play-settings
  *ngIf="showSettings"
  (closeModalEmitter)="closeSettings()"
  (changeGameColorsEmitter)="changeGameBoardColorsEmitter.emit()"
  (quitEmitter)="handleQuit()"
></app-play-settings>
<div class="container">
  <p *ngIf="seconds">time: {{ seconds }}s</p>
  <button class="options" (click)="showSettings = true">settings</button>
  <button class="options" (click)="showHelpModal = true">help</button>
  <!-- <button (click)="test()">test</button> -->
</div>
