.container1 {
  background-color: var(--green);
  color: white;
  box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.534);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
}

p {
  margin: 0;
}

button {
  border: none;
  outline: none;
  color: black;
}

.options {
  width: 110px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.281);
  cursor: pointer;
  transition: 0.4s;
}

.br {
  border-right: 4px solid rgba(255, 255, 255, 0.24);
}

.hidden {
  color: black;
}

@media screen and (min-width: 700px) {
  .options:hover {
    background-color: rgba(0, 0, 0, 0.508);
  }
}
