<div class="container">
  <h1>Create Account Page</h1>
  <h3>Create account</h3>
  <input type="text" placeholder="first name" [(ngModel)]="user.firstName" />
  <input type="text" placeholder="last name" [(ngModel)]="user.lastName" />
  <input type="text" placeholder="phone (optional)" [(ngModel)]="user.phone" />
  <input type="text" placeholder="username" [(ngModel)]="user.username" />
  <input type="email" placeholder="email" [(ngModel)]="user.email" />
  <input type="text" placeholder="password" [(ngModel)]="user.password" />
  <button (click)="create()">Create</button>
</div>
