.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.red {
  background-color: var(--red);
  color: white;
}

.yellow {
  background-color: var(--yellow);
}

.orange {
  background-color: var(--orange);
}

.green {
  background-color: var(--green);
  color: white;
}

.blue {
  background-color: var(--blue);
  color: white;
}

p {
  margin: 0;
  font-size: 1.5rem;
}
