.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  position: relative;
  margin: 0;
}

.red {
  background-color: var(--red);
  color: white;
}

.yellow {
  background-color: var(--yellow);
}

.orange {
  background-color: var(--orange);
}

.green {
  background-color: var(--green);
  color: white;
}

.blue {
  background-color: var(--blue);
  color: white;
}

p {
  margin: 0;
  font-size: 1.5rem;
}

.home {
  height: 30px;
  position: absolute;
  left: 20px;
  cursor: pointer;
  padding-right: 10px;
  border-right: 2px solid rgb(35, 35, 35);
}
