.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--blue);
  width: 240px;
  height: 80px;
}

.image-div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

img {
  object-fit: contain;
  width: 3.5rem;
  cursor: pointer;
}
