<div class="background">
  <app-top-bar color="red"></app-top-bar>
  <div class="page">
    <div class="outer">
      <div class="container">
        <h1 class="title">enter username or email</h1>
        <input
          type="text"
          placeholder="username/email"
          [(ngModel)]="forgotPasswordRequest.email"
          [(ngModel)]="forgotPasswordRequest.username"
        />
        <p>
          if a username or email exists, we will email a link to reset password
        </p>
        <button class="btn" (click)="submit()">send</button>
      </div>
    </div>
    <app-social-media-block></app-social-media-block>
  </div>
</div>
