<app-help-modal
  (emitter)="closeModal($event)"
  *ngIf="showHelpModal"
></app-help-modal>
<app-create-wordle-options-modal
  [word]="word"
  (closeEmitter)="closeModal($event)"
  *ngIf="showCreateWordleOptionsModal"
></app-create-wordle-options-modal>
<div class="container1">
  <div class="content">
    <div class="top-text">
      <p class="header">create a custom 4-9 letter wordle</p>
      <div class="line"></div>
      <p>stump your friends and family!</p>
      <p>(links are destroyed after 1 play)</p>
    </div>
    <div class="not-word-box">
      <p class="not-word" *ngIf="isNotWord">(not a word)</p>
      <p class="not-word" *ngIf="errorMessage">{{ errorMessage }}</p>
    </div>
    <div
      class="tile-container"
      [ngClass]="{
        'tile-container-small': charArr.length >= 6,
        'invalid-guess-animation': isNotWord
      }"
    >
      <div
        class="tile"
        *ngFor="let char of charArr; let i = index"
        [ngClass]="{
          active: charArr.indexOf(null) === i || charArr.indexOf('...') === i,
          'tile-small': charArr.length >= 6
        }"
      >
        {{ char }}
      </div>
    </div>
    <div
      class="create-box"
      [ngClass]="{
        'hide-create':
          word.length < 4 || showCreateWordleOptionsModal || showHelpModal
      }"
    >
      <button class="create-btn" (click)="validateWord()">
        {{ !validatingWord ? "create!" : "" }}
        <mat-spinner
          diameter="30"
          value="4"
          color="warn"
          class="spinner"
          *ngIf="validatingWord"
        ></mat-spinner>
      </button>
    </div>
    <div class="keyboard-container">
      <div class="keyboard-row">
        <button
          class="btn"
          *ngFor="let key of keyboard.topRow"
          [ngClass]="{ green: word.includes(key) }"
          (click)="type(key)"
        >
          {{ key }}
        </button>
      </div>
      <div class="keyboard-row">
        <button
          class="btn"
          *ngFor="let key of keyboard.midRow"
          [ngClass]="{ green: word.includes(key) }"
          (click)="type(key)"
        >
          {{ key }}
        </button>
      </div>
      <div class="keyboard-row">
        <button class="btn enter-btn" (click)="showHelpModal = true">
          help
        </button>
        <button
          class="btn"
          *ngFor="let key of keyboard.bottomRow"
          [ngClass]="{ green: word.includes(key) }"
          (click)="type(key)"
        >
          {{ key }}
        </button>
        <button class="btn del-btn" (click)="del()" [disabled]="!charArr[0]">
          Del
        </button>
      </div>
    </div>
  </div>
</div>
