<div class="container">
  <div class="settings"></div>
  <div class="board">
    <div
      class="tile"
      *ngFor="let char of charArr; let i = index"
      [ngClass]="{
        green: compareArr[i] === 'green',
        orange: compareArr[i] === 'orange'
      }"
    >
      {{ char ? char : null }}
      <!-- {{ char }} -->
    </div>
  </div>
  <div class="keyboard-container">
    <div class="keyboard-row">
      <button
        *ngFor="let key of keyboard.topRow; let i = index"
        [ngClass]="checkKeys(key)"
        (click)="type(key)"
      >
        {{ key }}
      </button>
    </div>
    <div class="keyboard-row">
      <button
        *ngFor="let key of keyboard.midRow; let i = index"
        [ngClass]="checkKeys(key)"
        (click)="type(key)"
      >
        {{ key }}
      </button>
    </div>
    <div class="keyboard-row">
      <button [disabled]="currentGuessLength !== word.length" (click)="enter()">
        Enter
      </button>
      <button
        *ngFor="let key of keyboard.bottomRow; let i = index"
        [ngClass]="checkKeys(key)"
        (click)="type(key)"
      >
        {{ key }}
      </button>
      <button [disabled]="currentGuessLength === 0" (click)="del()">Del</button>
    </div>
  </div>
</div>
