.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  background-color: var(--blue);
  display: grid;
  gap: 2px;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
  min-width: 355px;
}

.four-col {
  grid-template-columns: repeat(4, 1fr);
}

.five-col {
  grid-template-columns: repeat(5, 1fr);
}

.six-col {
  grid-template-columns: repeat(6, 1fr);
}

.seven-col {
  grid-template-columns: repeat(7, 1fr);
}

.eight-col {
  grid-template-columns: repeat(8, 1fr);
}

.nine-col {
  grid-template-columns: repeat(9, 1fr);
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 35px;
  min-height: 35px;
  background-color: var(--yellow);
  color: black;
  text-align: center;
  transition: 0.5s;
}

.four-tile {
  font-size: 2.2rem;
  min-width: 50px;
  min-height: 55px;
}

.five-tile {
  font-size: 2rem;
  min-width: 50px;
  min-height: 50px;
}

.six-tile {
  font-size: 2rem;
  min-width: 50px;
  min-height: 50px;
}

.seven-tile {
  font-size: 1.8rem;
  min-width: 45px;
  min-height: 45px;
}

.eight-tile {
  font-size: 1.6rem;
  min-width: 40px;
  min-height: 40px;
}

.nine-tile {
  font-size: 1.5rem;
  min-width: 35px;
  min-height: 35px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.keyboard-row button {
  border: none;
  margin: 1px;
  padding: 12px;
  cursor: pointer;
  height: 40px;
  color: white;
  user-select: none;
}

.keyboard-row button:disabled {
  opacity: 0.8;
  color: gray;
  background-color: rgb(36, 36, 36);
}

.btn {
  background-color: var(--red);
  transition: 0.5s;
}

.green {
  background-color: var(--green);
}

.orange {
  background-color: var(--orange);
}

.grey {
  background-color: grey;
}
