.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.board {
  display: grid;
  gap: 1px;
  padding: 6px;
  box-sizing: border-box;
  margin: 10px;
  margin-top: 0;
  box-shadow: -5px 8px 15px rgba(0, 0, 0, 0.34);
  max-height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.board::-webkit-scrollbar {
  display: none;
}

.fade-board-in {
  animation: fade-in 1s;
}

@keyframes fade-in {
  0% {
    scale: 0.8;
    opacity: 0.5;
    transform: translate(1px, -1px) rotate(-2deg);
  }
  50% {
    scale: 1.1;
    opacity: 0.7;
    transform: translate(1px, 1px) rotate(2deg);
  }
  75% {
    scale: 0.95;
    opacity: 0.9;
    transform: translate(1px, 1px) rotate(-2deg);
  }
}

.blue-board {
  background-color: var(--blue);
}

.green-board {
  background-color: var(--green);
}

.orange-board {
  background-color: var(--orange);
}

.yellow-board {
  background-color: var(--yellow);
}

.red-board {
  background-color: var(--red);
}

.four-col {
  grid-template-columns: repeat(4, 1fr);
}

.five-col {
  grid-template-columns: repeat(5, 1fr);
}

.six-col {
  grid-template-columns: repeat(6, 1fr);
}

.seven-col {
  grid-template-columns: repeat(7, 1fr);
}

.eight-col {
  grid-template-columns: repeat(8, 1fr);
}

.nine-col {
  grid-template-columns: repeat(9, 1fr);
}

.invalid-guess-animation {
  animation: shake 0.4s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 35px;
  min-height: 35px;
  background-color: var(--yellow);
  color: black;
  text-align: center;
  transition: 0.5s;
}

.red-tile {
  background-color: var(--red);
}

.yellow-tile {
  background-color: var(--yellow);
}

.blue-tile {
  background-color: var(--blue);
}

.four-tile {
  font-size: 10vw;
  width: 20vw;
  height: 20vw;
}

.five-tile {
  font-size: 8vw;
  width: 16vw;
  height: 16vw;
}

.six-tile {
  font-size: 8vw;
  width: 14vw;
  height: 14vw;
}

.seven-tile {
  font-size: 7vw;
  width: 12vw;
  height: 12vw;
}

.eight-tile {
  font-size: 7vw;
  width: 11vw;
  height: 11vw;
}

.nine-tile {
  font-size: 6vw;
  width: 9vw;
  height: 9vw;
}

.keyboard-container {
  margin-bottom: 20px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  margin: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0.75px;
  width: 9vw;
  height: 13vw;
  font-size: 5vw;
  cursor: pointer;
  color: white;
  touch-action: manipulation;
  background-color: var(--red);
  transition: 0.5s;
  border-radius: 4px;
}

.btn:active {
  background-color: rgba(25, 25, 25, 0.81);
  animation: btn-press 0.1s;
}

@keyframes btn-press {
  50% {
    scale: 1.1;
    transform: translate(1px, -1px) rotate(-1deg);
  }
}

.enter-btn {
  width: 17vw;
}

.enter-btn:enabled {
  background-color: var(--green);
  animation: enter-btn-enabled 0.8s;
  animation-iteration-count: infinite;
  box-shadow: 1px 1px 50px black;
}

@keyframes enter-btn-enabled {
  35% {
    transform: translate(1px, -1px) rotate(-5deg);
    scale: 1.1;
  }

  65% {
    transform: translate(1px, -1px) rotate(5deg);
  }
}

.del-btn {
  width: 12vw;
}

.invalid-guess-del {
  background-color: var(--red);
  animation: flash-del-btn 0.8s;
  animation-iteration-count: infinite;
  box-shadow: 1px 1px 50px black;
}

@keyframes flash-del-btn {
  50% {
    scale: 1.1;
  }
}

.btn:disabled {
  opacity: 0.8;
  color: gray;
  background-color: rgb(36, 36, 36);
}

.green {
  background-color: var(--green);
  animation: green-tile-animation 0.5s;
  box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.569);
  scale: 1.05;
}

@keyframes green-tile-animation {
  50% {
    transform: translate(1px, -1px) rotate(-20deg);
    scale: 1.1;
  }
}

.orange {
  background-color: var(--orange);
  animation: orange-tile-animation 0.5s;
  box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.562);
  scale: 1.02;
}

@keyframes orange-tile-animation {
  50% {
    transform: translate(1px, -1px) rotate(20deg);
    scale: 1.1;
  }
}

.grey {
  background-color: grey;
  box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.542);
  scale: 1.01;
}

.active-tile {
  animation: active-tile-blink 0.8s;
  animation-iteration-count: infinite;
}

.flash-off {
  background-color: rgba(255, 255, 255, 0.677);
}

@keyframes active-tile-blink {
  0% {
    background-color: rgb(255, 255, 255);
  }
  50% {
    background-color: black;
  }
  100% {
    background-color: rgb(255, 255, 255);
  }
}

.error-msg {
  margin: 0;
  color: var(--red);
}

.hidden {
  visibility: none;
}

.error-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  position: relative;
  margin: 20px;
}

.spinner {
  position: absolute;
  top: 10px;
}

/* screen WIDER than 700px */
@media screen and (min-width: 700px) {
  .board {
    max-height: 400px;
  }

  .four-tile {
    font-size: 2vw;
    width: 4vw;
    height: 4vw;
  }

  .five-tile {
    font-size: 2vw;
    width: 4vw;
    height: 4vw;
  }

  .six-tile {
    font-size: 2vw;
    width: 4vw;
    height: 4vw;
  }

  .seven-tile {
    font-size: 2vw;
    width: 4vw;
    height: 4vw;
  }

  .eight-tile {
    font-size: 2vw;
    width: 4vw;
    height: 4vw;
  }

  .nine-tile {
    font-size: 2vw;
    width: 4vw;
    height: 4vw;
  }

  .btn {
    width: 3vw;
    height: 4vw;
    font-size: 1.3vw;
  }

  .btn:hover {
    background-color: #9f4348;
  }

  .enter-btn {
    width: 6vw;
  }

  .enter-btn:hover {
    background-color: #75945a;
  }

  .del-btn {
    width: 4vw;
  }
}
