<div class="container">
  <div class="settings"></div>
  <div class="board">
    <div class="tile" *ngFor="let num of charArr; let i = index">
      {{ charArr[i] ? charArr[i] : null }}
      <!-- {{ charArr[i] }} -->
    </div>
  </div>
  <div class="keyboard-container">
    <div class="keyboard-row">
      <button (click)="type('q')">q</button>
      <button (click)="type('w')">w</button>
      <button (click)="type('e')">e</button>
      <button (click)="type('r')">r</button>
      <button (click)="type('t')">t</button>
      <button (click)="type('y')">y</button>
      <button (click)="type('u')">u</button>
      <button (click)="type('i')">i</button>
      <button (click)="type('o')">o</button>
      <button (click)="type('p')">p</button>
    </div>
    <div class="keyboard-row">
      <div class="spacer-half"></div>
      <button (click)="type('a')">a</button>
      <button (click)="type('s')">s</button>
      <button (click)="type('d')">d</button>
      <button (click)="type('f')">f</button>
      <button (click)="type('g')">g</button>
      <button (click)="type('h')">h</button>
      <button (click)="type('j')">j</button>
      <button (click)="type('k')">k</button>
      <button (click)="type('l')">l</button>
    </div>
    <div class="keyboard-row">
      <button
        class="wide-button enter"
        [disabled]="currentGuessLength !== word.length"
        (click)="enter()"
      >
        Enter
      </button>
      <button (click)="type('z')">z</button>
      <button (click)="type('x')">x</button>
      <button (click)="type('c')">c</button>
      <button (click)="type('v')">v</button>
      <button (click)="type('b')">b</button>
      <button (click)="type('n')">n</button>
      <button (click)="type('m')">m</button>
      <button
        class="wide-button"
        [disabled]="currentGuessLength === 0"
        (click)="del()"
      >
        Del
      </button>
    </div>
  </div>
</div>
