<div class="container">
  <div class="settings"></div>
  <div class="board">
    <div
      class="tile"
      *ngFor="let char of charArr; let i = index"
      [ngClass]="{
        green: compareArr[i] === 'green',
        orange: compareArr[i] === 'orange'
      }"
    >
      {{ char ? char : null }}
      <!-- {{ char }} -->
    </div>
  </div>
  <div class="keyboard-container">
    <div class="keyboard-row">
      <button
        class="btn"
        *ngFor="let key of keyboard.topRow"
        [ngClass]="this.keyMap.get(key)"
        (click)="type(key)"
      >
        {{ key }}
      </button>
    </div>
    <div class="keyboard-row">
      <button
        class="btn"
        *ngFor="let key of keyboard.midRow"
        [ngClass]="this.keyMap.get(key)"
        (click)="type(key)"
      >
        {{ key }}
      </button>
    </div>
    <div class="keyboard-row">
      <button
        class="btn"
        [disabled]="currentGuessLength !== word.length"
        (click)="enter()"
      >
        Enter
      </button>
      <button
        class="btn"
        *ngFor="let key of keyboard.bottomRow"
        [ngClass]="this.keyMap.get(key)"
        (click)="type(key)"
      >
        {{ key }}
      </button>
      <button class="btn" [disabled]="currentGuessLength === 0" (click)="del()">
        Del
      </button>
    </div>
  </div>
</div>
