:root {
  --red: #bc4b51;
  --yellow: #f4e285;
  --orange: #f4a259;
  --green: #8cb369;
  --blue: #5b8e7d;
}

body {
  margin: 0;
  /* background-image: linear-gradient(
    to bottom right,
    rgb(237, 220, 220),
    rgb(255, 255, 255)
  ); */
}

* {
  font-family: "JetBrains Mono", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--yellow);
}

button {
  touch-action: manipulation;
  cursor: pointer;
}
